page-month {
  .container {
    height: 100%;
    flex-flow: column;
    display: flex;
    touch-action: none;
  }
  .container .year-layout {
    flex: 1;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  .container .year-layout h1 {
    margin: 0 0 5% 0;
    font-size: 52px;
    letter-spacing: 5px;
  }
  .container .wrapper {
    flex: 1;
    padding: 0 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: Center;
  }
  .container .wrapper div {
    flex: 1;
    font-size: 52px;
    padding: 20px 0;
  }

}
